* {
    box-sizing: border-box;
}

html {
    background-color: rgb(243 244 247);
    background-image: url('imgs/medical-pattern-monitor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input:focus {
    outline: none;
}

.lang {
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullContiner {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.99);
    border-radius: 3rem;
    padding-bottom: 30px;
    width: min(950px, 90vw);

}

.header {
    height: 225px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 10px;
    max-width: 100%;
}

.header * {
    max-width: 200px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.99); */

}

.input-label {
    padding: 0px 10px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.labels {
    max-width: 400px;
}

.label {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 10px;
}


.form {
    display: flex;
    max-width: 600px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.q {

    padding: 10px;

}

.flex1 {
    flex: 0 0 50%;
}

.flex2 {
    flex: 0 0 50%;
}

.flex3 {
    flex: 0 0 100%;
}

#GenHlth {
    flex: 0 0 100%;
}


.active {
    box-shadow: 0px 0px 0px 2px #2119f6;
    transition: all 1s ease-in-out;
}



.flex2 input {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 29px;
    margin-bottom: 15px;
    width: 100%;

}

.flex2 select {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 29px;
    margin-bottom: 15px;
    width: 100%;
}

.langBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input.error,
select.error {
    border-color: red;
}

.send {
    margin: 0 auto;
    color: #fff;
    background-color: #035aef;
    border-color: #035aef;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;
    direction: ltr;
    box-shadow: 0 4px 8px rgba(#035aef, 0.15);
    height: 50px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin-left: auto;
    width: 200px;
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
}


.tile {
    height: 200px;
    width: 120px;
    position: relative;
    flex: 0 0 50%;
    padding: 10px;

}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid #e8e8e8;
    /* border: 3px solid transparent; */
    box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
}

input[type="checkbox"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 22px;
    top: 10px;
    left: 10px;
    color: #e2e6f3;
}

/* input[type="checkbox"]:hover {
    transform: scale(1.08);
} */

input[type="checkbox"]:checked {
    border: 3px solid #478bfb;
}

input[type="checkbox"]:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #478bfb;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 0 20px;
}

label .fas {
    color: #2c2c51;
}

input[type="checkbox"]:checked+label .fas {
    animation: grow 0.5s;
}

/* @keyframes grow {
    50% {
        font-size: 80px;
    }
} */

label h6 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7b7b93;
    text-align: center;
    margin: 0;
}


@media only screen and (max-width: 650px) {

    /* body {
      background-color: lightblue;
    } */
    img.qassimLogo {
        display: none;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    /* .header {
        width: 100vw;
    } */

    .header * {
        max-width: 50%;

    }

    label {
        justify-content: flex-start;
        gap: 10px;
        /* display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 0 20px; */
    }

    label img {
        width: 60px;
        height: 60px;
    }

}