* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
    /* border: none; */
}
.lang{
    cursor: pointer;
}


.header {
    height: 200px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px
}

.labels {
    max-width: 400px;
}

.label {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 10px;
}


.form {
    display: flex;
    max-width: 600px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.q {

    padding: 10px;

}

.flex1 {
    flex: 0 0 50%;
}

.flex2 {
    flex: 0 0 50%;
}
.flex3 {
    flex: 0 0 100%;
}
#GenHlth{
    flex: 0 0 100%;
}

.box {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    position: relative;
    transition: all 1s ease-in-out;


}

.active {
    box-shadow: 0px 0px 0px 2px #2119f6;
    transition: all 1s ease-in-out;
}

.notsure {
    box-shadow: 0px 0px 0px 2px #f69a19;
    transition: all 1s ease-in-out;
}

.q-mark {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: -9px;
    margin-right: calc(0px - 100%);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #fff;
}

.flex2 input {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 29px;
    margin-bottom: 15px;
    width: 100%;

}

.flex2 select {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 29px;
    margin-bottom: 15px;
    width: 100%;
}

input.error,
select.error {
    border-color: red;
}

.send {
    margin: 0 auto;
    color: #fff;
    background-color: #035aef;
    border-color: #035aef;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    border-radius: 5px;

    direction: ltr;
    box-shadow: 0 4px 8px rgba(#035aef, 0.15);
    height: 50px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin-left: auto;
    width: 200px;

    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
}


@media only screen and (max-width: 650px) {
    /* body {
      background-color: lightblue;
    } */

    .main {
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 100vw;
        /* display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px; */
    }

}