{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script defer src="index.js"></script> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script defer src="{% static 'index.js' %}"></script>
    <style>
        body {
            direction: ltr;
        }
    </style>

</head>

<body>
    <div class="fullContiner">
        <div class="header">
            <img class="logo" src="{% static 'imgs/DiabetAIs.png' %}">
            <img class="qassimLogo" src="{% static 'imgs/qassim.jpg' %}">
        </div>
        <div class="container">
            <div class="info"></div>
            <div class="main">
                <div class="form">
                    <p class="flex3">Please verify the entered information</p>

                    {% for qu in questions %}
                    {% if qu.type == 't2'%}
                    <div id={{qu.id}} class="q flex2 val">
                        <p>{{qu.en}}</p>
                        <input class="valid" max={{qu.max}} min={{qu.min}} type="number">
                    </div>
                    {% elif qu.type == 't1'%}
                    <div class="q flex1">
                        <div id={{qu.id}} class="yn box">
                            <svg class="q-mark" viewBox="64 64 896 896" data-icon="info-circle" width="1em" height="1em"
                                fill="#848484" aria-hidden="true" focusable="false" class="">
                                <circle r="400" cx="500" cy="500" fill="#fff" />
                                <path
                                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                </path>
                                <path
                                    d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z">
                                </path>
                            </svg>
                            <span class="hint">{{qu.hint_en}}</span>
                            <p>{{qu.en}}</p>
                        </div>
                    </div>
                    {% elif qu.type == 't3'%}
                    <div id={{qu.id}} class="select q flex2">
                        <p>{{qu.en}}</p>
                        <select class="valid">
                            <option value=-1>select</option>
                            {% for choise in qu.list %}
                            <option value={{choise.value}}>{{choise.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="flex3 bt">
                        <button class="send">send data</button>
                    </div>
                </div>
                <div class="labels">
                    <div class="label">
                        <h2 style="font-weight: bold;">Are you experiencing a problem ?</h2>
                        <p> Hover over the <i aria-label="icon: info-circle" class="anticon anticon-info-circle"
                                style="font-size: 18px;"><svg viewBox="64 64 896 896" data-icon="info-circle"
                                    width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false"
                                    class="">
                                    <path
                                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                    <path
                                        d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z">
                                    </path>
                                </svg></i> icon to get a hint </p>
                    </div>
                    <div class="label">
                        <h2 style="font-weight: bold;">need a help?</h2>
                        <p> if you need a help mail us on this address :- </p>
                        <p style="font-weight: bold;"><a href="mailto:hopehorizon.world@gmail.com">
                                info@unaizahdiabetes.org.sa </a></p>
                    </div>
                    <div class="label langBox">
                        <p> to change the language press here </p>
                        <img class="lang" width="40" src="{% static 'imgs/translation.png' %}">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const csrf = '{{ csrf_token }}'
        function popup(data) {
            let text = (data > 30) ? "You may be at increased risk of developing diabetes." : "Your risk of developing diabetes is low"
            Swal.fire({
                title: `<strong>${text}</strong>`,
                icon: (data > 30) ? "warning" : "success",
                html: `Based on the information you provided, your estimated risk of developing diabetes is ${data || "error"}%
                <br>`,
                showCloseButton: true,
                footer: '<strong>Please note that this is not a medical diagnosis. We recommend consulting your doctor for further evaluation.</strong>',
                confirmButtonText: "اغلاق"
            });
        }
        function popupError() {
            Swal.fire({
                title: `<strong>Please verify the entered information</strong>`,
                icon: "warning",
                showCloseButton: true,
                confirmButtonText: "اغلاق"
            });
        }
    </script>
</body>