{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0">
    <title>DiabetAIs - تعرف على نسبة اصابتك بالسكري</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script defer src="index.js"></script> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="{% static 'index.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <style>
        body {
            direction: rtl;
        }
    </style>

</head>

<body>
    <div class="fullContiner">

        <div class="header">
            <img class="logo" width="400px" height="200px" src="{% static 'imgs/logoarabic.jpg' %}">
            <img class="qassimLogo" src="{% static 'imgs/qassim.jpg' %}">


        </div>
        <div class="container">
            <div class="info"></div>
            <div class="main">
                <div class="form">
                    <p class="flex3 input-label">يرجى الإجابة على الاسئلة التالية</p>
                    {% for qu in questions %}
                    {% if qu.type == 't2'%}
                    <div id={{qu.id}} class="q flex2 val">
                        <p>{{qu.title}}</p>
                        <input class="valid" max={{qu.max}} min={{qu.min}} type="number">
                    </div>
                    {% elif qu.type == 't1'%}
                    {% if qu.id == "HighChol" %}
                    <p class="flex3 scndinputlabel ">اضغط على السؤال للإجابة بنعم</p>
                    {% endif %}
                    <div class="tile">
                        <input class="box" type="checkbox" name="{{qu.id}}" id="{{qu.id}}">
                        <label for="{{qu.id}}">
                            <img width="80" height="80" src="{% static 'imgs/emoji/' %}{{ qu.id }}.png" alt="">
                            <h6>{{qu.title}}</h6>
                        </label>
                    </div>
                    {% elif qu.type == 't3'%}
                    <div id={{qu.id}} class="select q flex2">
                        <p>{{qu.title}}</p>
                        <select class="valid">
                            <option value=-1>تحديد</option>
                            {% for choise in qu.list %}
                            <option value={{choise.value}}>{{choise.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="flex3 bt">
                        <button class="send">أظهر النتيجة</button>
                    </div>
                </div>
                <div class="labels">
                    <div class="label">
                        <h2 style="font-weight: bold;">تحتاج مساعدة؟</h2>
                        <p> إذا كنت بحاجة الى المساعدة تواصل معنا على البريد التالي </p>
                        <p style="font-weight: bold;"><a href="mailto:info@unaizahdiabetes.org.sa">
                                info@unaizahdiabetes.org.sa </a></p>
                    </div>
                    <div class="label langBox">
                        <p> to change the language press here </p>
                        <img class="lang" width="40" src="{% static 'imgs/translation.png' %}">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const csrf = '{{ csrf_token }}'
        function popup(data) {
            let text = (data > 70) ? "عالية" : (data > 30) ? "متوسطة" : "منخفضة"
            Swal.fire({
                title: `<strong>احتمالية اصابتك بمرض السكري ${text}</strong>`,
                icon: (data > 30) ? "warning" : "success",
                html: `بناءً على المعلومات المدخلة، فإن الاحتمالية التقديرية لإصابتك بمرض السكري هي ${data || "error"}%
                <br>`,
                showCloseButton: true,
                footer: '<strong>نود التنويه بأن هذه النتيجة لا تعد تشخيصاً طبياً، ننصحك بمراجعة طبيبك للحصول على التوجيه المناسب</strong>',
                confirmButtonText: "اغلاق"
            });
        }
        function popupError() {
            Swal.fire({
                title: `<strong>يرجى التأكد من المعلومات المدخلة</strong>`,
                icon: "warning",
                showCloseButton: true,
                confirmButtonText: "اغلاق"
            });
        }
    </script>
</body>

</html>