{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script defer src="index.js"></script> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script defer src="{% static 'index.js' %}"></script>
    <style>
        body {
            direction: rtl;
        }
    </style>

</head>

<body>
    <div class="fullContiner">

        <div class="header">
            <img class="logo" src="{% static 'imgs/DiabetAIs.png' %}">
            <img class="qassimLogo" src="{% static 'imgs/qassim.jpg' %}">


        </div>
        <div class="container">
            <div class="info"></div>
            <div class="main">
                <div class="form">
                    <p class="flex3 input-label">يرجى التأكد من المعلومات المدخلة</p>

                    {% for qu in questions %}
                    {% if qu.type == 't2'%}
                    <div id={{qu.id}} class="q flex2 val">
                        <p>{{qu.title}}</p>
                        <input class="valid" max={{qu.max}} min={{qu.min}} type="number">
                    </div>
                    {% elif qu.type == 't1'%}
                    <div class="q flex1">
                        <div id={{qu.id}} class="yn box">
                            <!-- explanation icon -->
                             <svg class="q-mark" viewBox="64 64 896 896" data-icon="info-circle" width="1em" height="1em"
                                fill="#848484" aria-hidden="true" focusable="false" class="">
                                <circle r="400" cx="500" cy="500" fill="#fff" />
                                <path
                                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                </path>
                                <path
                                    d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z">
                                </path>
                            </svg> 
                             <span class="hint">{{qu.hint}}</span> 
                            <p>{{qu.title}}</p>
                        </div>
                    </div>
                    {% elif qu.type == 't3'%}
                    <div id={{qu.id}} class="select q flex2">
                        <p>{{qu.title}}</p>
                        <select class="valid">
                            <option value=-1>تحديد</option>
                            {% for choise in qu.list %}
                            <option value={{choise.value}}>{{choise.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="flex3 bt">
                        <button class="send">ارسال البيانات</button>
                    </div>
                </div>
                <div class="labels">
                    <div class="label explain-icon">
                        <h2 style="font-weight: bold;">هل تواجه مشكلة ؟</h2>
                        <p> قم بوضع الفأرة على العلامة<i aria-label="icon: info-circle"
                                class="anticon anticon-info-circle" style="font-size: 18px;"><svg
                                    viewBox="64 64 896 896" data-icon="info-circle" width="1em" height="1em"
                                    fill="currentColor" aria-hidden="true" focusable="false" class="">
                                    <path
                                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                    <path
                                        d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z">
                                    </path>
                                </svg></i> حتى تحصل على التلميح </p>
                    </div>
                    <div class="label">
                        <h2 style="font-weight: bold;">تحتاج مساعدة؟</h2>
                        <p> إذا كنت بحاجة الى المساعدة تواصل معنا على البريد التالي </p>
                        <p style="font-weight: bold;"><a href="mailto:hopehorizon.world@gmail.com">
                                info@unaizahdiabetes.org.sa </a></p>
                    </div>
                    <div class="label langBox">
                        <p> لتغيير اللغة اضغط على الايقونة التالية </p>
                        <img class="lang" width="40" src="{% static 'imgs/translation.png' %}">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const csrf = '{{ csrf_token }}'
        function popup(data) {
            let text = (data > 70) ? "عالية جدا" : (data > 30) ? "مرتفعة" : "منخفضة"
            Swal.fire({
                title: `<strong>احتمالية اصابتك بمرض السكري ${text}</strong>`,
                icon: (data > 30) ? "warning" : "success",
                html: `بناءً على المعلومات المدخلة، فإن الاحتمالية التقديرية لإصابتك بمرض السكري هي ${data || "error"}%
                <br>`,
                showCloseButton: true,
                footer: '<strong>نود التنويه بأن هذه النتيجة لا تعد تشخيصاً طبياً، ننصحك بمراجعة طبيبك للحصول على التوجيه المناسب</strong>',
                confirmButtonText: "اغلاق"
            });
        }
        function popupError() {
            Swal.fire({
                title: `<strong>يرجى التأكد من المعلومات المدخلة</strong>`,
                icon: "warning",
                showCloseButton: true,
                confirmButtonText: "اغلاق"
            });
        }
    </script>
</body>