{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiabetAIs</title>

    <link rel="stylesheet" href="{% static 'lang.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script  src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script defer src="{% static 'lang.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body>
    <div class="container">
        <h1>choose the language - قم باختيار اللغة</h1>
        <div class="boxes">
            <div id="en" class="box">
                <img src="{% static 'imgs/flag.png' %}" alt="" srcset="">
                <h1>english</h1>
                <p></p>
            </div>
            <div id="ar" class="box">
                <img src="{% static 'imgs/world.png' %}" alt="" srcset="">
                <h1>اللغة العربية</h1>
                <p></p>
            </div>

        </div>
        <P>هذا المشروع برعاية جمعية سكر بمحافظة عنيزة</P>
        <div class="SPONSERS">
            <img width="200PX" src="{% static 'imgs/جمعية سكر.jpg' %}" alt="" srcset="">

        </div>
    </div>

</body>
<script>
    const csrf = '{{ csrf_token }}'
</script>
</html>